@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", sans-serif;
}

.active .img-main {
    height: 200px!important;
}

.desk-video.active .button-title {
    background: #0097DC;
    color: #fff;
}
.active-slide .overlay {
    display: none!important;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000080;
    top: 0;
    left: 0;
    border-radius: 50px;
}
.img-bg {
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
main {
    overflow-x: hidden !important;
}

@media (max-width: 1024px) and (min-width: 767px) {
.img-bg {
    background-position: left !important;
    background-size: cover !important;
    width: 300px !important;
}
}

@media (min-width: 767px) {
.program-box {
    height: 327px;
}
div#bricks-challenge .img-main img {
    height: 380px !important;
}
div#bricks-challenge .img-main {
    top: -42px;
    right: -16px;
}
div#big-builders .img-main img,
div#galileo-technic .img-main img {
    height: 370px !important;
}
div#galileo-technic .img-main,
div#big-builders .img-main  {
    top: -33px;
}
div#smartivo .img-main img {
    width: 603px!important;
    height: 360px!important;
}
div#smartivo .img-main {
    width: 492px;
    height: 436px;
    top: -23px;
}
div#algo-play .img-main {
    width: 533px;
    height: 448px;
    top: -39px;
    right: -8px;
}
div#algo-play .img-main img {
    width: 612px!important;
    height: 388px!important;
}
div#robo-toys .img-main {
    width: 517px;
    height: 493px;
    top: -41px;
}
div#robo-toys .img-main img {
    width: 612px!important;
    height: 393px!important;
}
div#algo-c .img-main {
     width: 490px;
     height: 505px;
     top: -44px;
     right: -8px;
}
div#algo-c .img-main img{
     width: 603px!important;
     height: 393px!important;
}

.dots {
    width: 18px;
    height: 18px;
}
.active-slide .video-title {
    background: #0097DC!important;
    color: #fff!important;
}
.active-slide video {
    border: 2px solid #0097dc;
}
}

@media (max-width: 767px) {
.active-slide {
    height: 320px;
    height: 312px;
}
.active-slide video {
    height: 312px;
    object-fit: cover!important;
}
.overlay {
    border-radius: 16px!important;
}
/*========================================*/
div#bricks-challenge .img-main img {
    height: 174px!important;
}
div#bricks-challenge .img-main {
    top: -22px;
    right: -24px;
}
div#galileo-technic .img-main {
    top: -18px;
    right: -21px;
}
div#galileo-technic .img-main img {
    height: 170px!important;
}
div#big-builders .img-main {
    top: -16px;
    right: -11px;
}
div#big-builders .img-main img {
    height: 169px!important;
}
div#smartivo .img-main {
    width: 203px;
    height: 171px;
    top: -27px;
    right: -9px;
}
div#smartivo .img-main img {
    height: 192px!important;
    width: 200px!important;
}
div#algo-play .img-main img {
    height: 180px!important;
    width: 189px!important;
}
div#algo-play .img-main {
    width: 203px;
    height: 171px;
    top: -27px;
    right: -21px;
}
div#robo-toys .img-main {
    width: 203px;
    height: 171px;
    top: -23px;
    right: -35px;
}
div#robo-toys .img-main img {
    height: 182px!important;
    width: 175px!important;
}
div#algo-c .img-main {
    width: 203px;
    height: 171px;
    top: -22px;
    right: -29px;
}
div#algo-c .img-main img {
    height: 198px!important;
    width: 180px!important;
    right: -1px !important;
}

/*===============active==============*/
.program-box.active .img-main {
    top: 4px!important;
    right: -20px!important;
}
.program-box.active .img-main img {
    transform: scale(1.2)!important;
}
div#bricks-challenge.active .img-main {
     top: 4px!important;
    right: -11px!important;
}
div#galileo-technic.active .img-main {
    top: 12px!important;
}
div#big-builders.active .img-main {
    top: 15px!important;
    right: 2px!important;
}
div#smartivo.active .img-main {
    top: 4px!important;
    right: 2px!important;
}
div#algo-play.active .img-main {
    top: 2px!important;
    right: -4px!important;
}
div#algo-c.active .img-main {
    top: 10px!important;
    right: -14px!important;
}
}

@media (max-width: 364px) {
.program-box {
    width: 100%!important;
    max-width: 330px!important;
}
.program-box .img-bg {
    right: 0px!important;
    width: 100px;
    background-position: left!important;
}
.program-box p {
    font-size: 11px;
    width: 90%;
    line-height: 15px;
}
div#bricks-challenge .img-main img {
    height: 176px !important;
    right: 0px!important;
}

div#big-builders .img-main img {
    height: 170px !important;
    right: -4px;
}
div#algo-play .img-main img {
    width: 180px !important;
    right: -10px !important;
    bottom: -4px !important;
}
div#robo-toys .img-main img {
    right: -1px!important;
}
div#algo-c .img-main img {
    right: -2px!important;
}
.watch-btn {
    font-size: 11px;
    width: 80%;
    padding: 8px;
    height: 32px;
    gap: 4px;
}
.watch-btn img {
    width: 13px;
    height: 13px;
}
}
@media (max-width: 324px) {
.program-box {
    width: 100%!important;
    max-width: 300px!important;
}
div#bricks-challenge .img-main img {
    height: 176px !important;
    right: 16px!important;
}
div#galileo-technic .img-main img {
    right: 10px!important;
}
div#big-builders .img-main img {
    height: 200px !important;
    width: 132px!important;
}
.program-box p {
    width: 94%;
}
}